extends layout

block content
  .main.container
    .row.justify-content-center
      .col-md-6.col-md-offset-3
        div.jumbotron
          h1.display-4.m-b-2
            a(href='/roms/#{romname}') #{challenge}
          p #{details}
          form(method='POST' action='/challenge/#{route}')
            div.form-group
              if solved
                input.form-control(type='text' id='flag' name='flag' placeholder='flag{d9a7eae0525603bead5ada6043110aa9de433064}' disabled)
              else
                input.form-control(type='text' id='flag' name='flag' placeholder='flag{d9a7eae0525603bead5ada6043110aa9de433064}')
            p.text-danger #{errmsg}
            if solved
              button.btn.btn-success(type='submit' disabled) Solved!
            else
              button.btn.btn-primary(type='submit') Capture the Flag
