extends layout

block content
  .main.container
    .row.justify-content-center
      .col-md-12
        div.jumbotron(id='challengeJumbotron')
          h1.display-4.m-b-2
            a(href='/roms/#{romname}') #{challenge}
          p #{details}
          form(method='POST' action='/challenge/#{route}')
            div.form-group
              if solved
                input.form-control(type='text' id='flag' name='flag' placeholder='flag{c4ptur3_th3_fl4g}' disabled)
              else
                input.form-control(type='text' id='flag' name='flag' placeholder='flag{c4ptur3_th3_fl4g}')
            p.text-danger #{errmsg}
            if solved
              button.btn.btn-success(type='submit' disabled) Solved!
            else
              button.btn.btn-primary(type='submit') Capture the Flag
